In [57]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.model_selection import train_test_split
import seaborn as sns

In [58]:
df=pd.read_csv('plantTraits.csv')
df

,Unnamed: 0,pdias,longindex,durflow,height,begflow,mycor,vegaer,vegsout,autopoll,...,seashiv,seasver,everalw,everparti,elaio,endozoo,epizoo,aquat,windgl,unsp
0,Aceca,96.84,0.000000,2,7,5,2.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,Aceps,110.72,0.000000,3,8,4,2.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Agrca,0.06,0.666667,3,2,6,2.0,0.0,1.0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Agrst,0.08,0.488889,2,2,7,1.0,2.0,0.0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,Ajure,1.48,0.476190,3,2,5,2.0,2.0,0.0,1,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,Vicsa,39.44,0.450000,3,5,5,2.0,0.0,0.0,3,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
132,Vicse,21.40,0.111111,4,4,5,2.0,0.0,2.0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
133,Vinmi,NaN,NaN,2,2,3,NaN,2.0,0.0,0,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
134,Viohi,3.00,0.333333,2,2,4,2.0,0.0,0.0,2,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
135,Viore,4.00,0.500000,2,1,4,NaN,0.0,0.0,2,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [59]:
df.head()

,Unnamed: 0,pdias,longindex,durflow,height,begflow,mycor,vegaer,vegsout,autopoll,...,seashiv,seasver,everalw,everparti,elaio,endozoo,epizoo,aquat,windgl,unsp
0,Aceca,96.84,0.000000,2,7,5,2.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,Aceps,110.72,0.000000,3,8,4,2.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Agrca,0.06,0.666667,3,2,6,2.0,0.0,1.0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Agrst,0.08,0.488889,2,2,7,1.0,2.0,0.0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,Ajure,1.48,0.476190,3,2,5,2.0,2.0,0.0,1,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [60]:
df.tail()

,Unnamed: 0,pdias,longindex,durflow,height,begflow,mycor,vegaer,vegsout,autopoll,...,seashiv,seasver,everalw,everparti,elaio,endozoo,epizoo,aquat,windgl,unsp
131,Vicsa,39.44,0.450000,3,5,5,2.0,0.0,0.0,3,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
132,Vicse,21.40,0.111111,4,4,5,2.0,0.0,2.0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
133,Vinmi,NaN,NaN,2,2,3,NaN,2.0,0.0,0,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
134,Viohi,3.00,0.333333,2,2,4,2.0,0.0,0.0,2,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
135,Viore,4.00,0.500000,2,1,4,NaN,0.0,0.0,2,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [61]:
df.shape

(136, 32)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  136 non-null    object
 1   pdias       100 non-null    float64
 2   longindex   111 non-null    float64
 3   durflow     136 non-null    int64
 4   height      136 non-null    int64
 5   begflow     136 non-null    int64
 6   mycor       97 non-null     float64
 7   vegaer      134 non-null    float64
 8   vegsout     134 non-null    float64
 9   autopoll    136 non-null    int64
 10  insects     136 non-null    int64
 11  wind        136 non-null    int64
 12  lign        136 non-null    int64
 13  piq         136 non-null    int64
 14  ros         132 non-null    float64
 15  semiros     132 non-null    float64
 16  leafy       132 non-null    float64
 17  suman       136 non-null    int64
 18  winan       136 non-null    int64
 19  monocarp    136 non-null    int64
 20  polycarp    136 non-null    int64
 21  seasaes     132 non-null    float64
 22  seashiv     132 non-null    float64
 23  seasver     132 non-null    float64
 24  everalw     132 non-null    float64
 25  everparti   132 non-null    float64
 26  elaio       131 non-null    float64
 27  endozoo     131 non-null    float64
 28  epizoo      131 non-null    float64
 29  aquat       131 non-null    float64
 30  windgl      131 non-null    float64
 31  unsp        131 non-null    float64
dtypes: float64(19), int64(12), object(1)
memory usage: 34.1+ KB

In [63]:
df.describe()

,pdias,longindex,durflow,height,begflow,mycor,vegaer,vegsout,autopoll,insects,...,seashiv,seasver,everalw,everparti,elaio,endozoo,epizoo,aquat,windgl,unsp
count,100.000000,111.000000,136.000000,136.000000,136.000000,97.000000,134.000000,134.000000,136.000000,136.000000,...,132.000000,132.000000,132.000000,132.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000
mean,70.764450,0.406000,3.183824,4.117647,5.169118,1.597938,0.216418,0.425373,0.889706,2.022059,...,0.030303,0.045455,0.409091,0.151515,0.091603,0.290076,0.167939,0.022901,0.175573,0.290076
std,220.203534,0.334575,1.629370,2.047795,1.417118,0.671748,0.592712,0.729372,1.126600,1.502920,...,0.172073,0.209092,0.493539,0.359916,0.289572,0.455539,0.375247,0.150161,0.381917,0.455539
min,0.010000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.460000,0.000000,2.000000,2.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.575000,0.444444,3.000000,4.000000,5.000000,2.000000,0.000000,0.000000,0.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8.505000,0.722953,4.000000,5.000000,6.000000,2.000000,0.000000,1.000000,2.000000,3.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,1684.300000,1.000000,12.000000,8.000000,9.000000,2.000000,2.000000,2.000000,3.000000,4.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [64]:
df.isnull().sum()

Unnamed: 0     0
pdias         36
longindex     25
durflow        0
height         0
begflow        0
mycor         39
vegaer         2
vegsout        2
autopoll       0
insects        0
wind           0
lign           0
piq            0
ros            4
semiros        4
leafy          4
suman          0
winan          0
monocarp       0
polycarp       0
seasaes        4
seashiv        4
seasver        4
everalw        4
everparti      4
elaio          5
endozoo        5
epizoo         5
aquat          5
windgl         5
unsp           5
dtype: int64

In [65]:
df.value_counts(['Unnamed: 0'])

Unnamed: 0
Aceca         1
Pruce         1
Polmu         1
Poptr         1
Potre         1
             ..
Digpu         1
Diaar         1
Desfl         1
Dauca         1
Viore         1
Length: 136, dtype: int64

In [66]:
df.fillna(0,inplace=True)
df

,Unnamed: 0,pdias,longindex,durflow,height,begflow,mycor,vegaer,vegsout,autopoll,...,seashiv,seasver,everalw,everparti,elaio,endozoo,epizoo,aquat,windgl,unsp
0,Aceca,96.84,0.000000,2,7,5,2.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,Aceps,110.72,0.000000,3,8,4,2.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Agrca,0.06,0.666667,3,2,6,2.0,0.0,1.0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Agrst,0.08,0.488889,2,2,7,1.0,2.0,0.0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,Ajure,1.48,0.476190,3,2,5,2.0,2.0,0.0,1,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,Vicsa,39.44,0.450000,3,5,5,2.0,0.0,0.0,3,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
132,Vicse,21.40,0.111111,4,4,5,2.0,0.0,2.0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
133,Vinmi,0.00,0.000000,2,2,3,0.0,2.0,0.0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
134,Viohi,3.00,0.333333,2,2,4,2.0,0.0,0.0,2,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
135,Viore,4.00,0.500000,2,1,4,0.0,0.0,0.0,2,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [67]:
from sklearn.preprocessing import LabelEncoder

In [68]:
le = LabelEncoder()
df['species'] = le.fit_transform(df['Unnamed: 0'])
y = df['species']
x = df.drop(['Unnamed: 0', 'species'], axis=1)

In [69]:
y

0        0
1        1
2        2
3        3
4        4
      ...
131    131
132    132
133    133
134    134
135    135
Name: species, Length: 136, dtype: int32

In [70]:
x

,pdias,longindex,durflow,height,begflow,mycor,vegaer,vegsout,autopoll,insects,...,seashiv,seasver,everalw,everparti,elaio,endozoo,epizoo,aquat,windgl,unsp
0,96.84,0.000000,2,7,5,2.0,0.0,0.0,0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,110.72,0.000000,3,8,4,2.0,0.0,0.0,0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.06,0.666667,3,2,6,2.0,0.0,1.0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.08,0.488889,2,2,7,1.0,2.0,0.0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.48,0.476190,3,2,5,2.0,2.0,0.0,1,3,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,39.44,0.450000,3,5,5,2.0,0.0,0.0,3,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
132,21.40,0.111111,4,4,5,2.0,0.0,2.0,2,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
133,0.00,0.000000,2,2,3,0.0,2.0,0.0,0,4,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
134,3.00,0.333333,2,2,4,2.0,0.0,0.0,2,3,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
135,4.00,0.500000,2,1,4,0.0,0.0,0.0,2,3,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [71]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=1)

In [72]:
x.shape,X_train.shape,X_test.shape

((136, 31), (122, 31), (14, 31))

In [85]:
logreg=LogisticRegression()

In [86]:
logreg.fit(X_train,y_train)
X_train_pred=logreg.predict(X_train)
score=accuracy_score(y_train,X_train_pred)
print('accuracy score of trained data:',score)

logreg.fit(X_test,y_test)
X_test_pred=logreg.predict(X_test)
score=accuracy_score(y_test,X_test_pred)
print('accuracy score of test data:',score)
species=le.inverse_transform(X_test_pred)

accuracy score of trained data: 0.2540983606557377
accuracy score of test data: 1.0

C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [87]:
tree=DecisionTreeClassifier()

In [88]:
tree.fit(X_train,y_train)
X_train_pred=tree.predict(X_train)
score=accuracy_score(y_train,X_train_pred)
print('accuracy score of trained data:',score)

tree.fit(X_test,y_test)
X_test_pred=tree.predict(X_test)
species=le.inverse_transform(X_test_pred)
score=accuracy_score(y_test,X_test_pred)
print('accuracy score of test data:',score)

accuracy score of trained data: 1.0
accuracy score of test data: 1.0

In [89]:
knn=KNeighborsClassifier()

In [90]:
knn.fit(X_train,y_train)
X_train_pred=knn.predict(X_train)
score=accuracy_score(y_train,X_train_pred)
print('accuracy score of trained data:',score)

knn.fit(X_test,y_test)
X_test_pred=knn.predict(X_test)
species=le.inverse_transform(X_test_pred)
score=accuracy_score(y_test,X_test_pred)
print('accuracy score of test data:',score)

accuracy score of trained data: 0.22131147540983606
accuracy score of test data: 0.14285714285714285

C:\Users\HP\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\HP\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [91]:
fore=RandomForestClassifier()

In [92]:
fore.fit(X_train,y_train)
X_train_pred=fore.predict(X_train)
score=accuracy_score(y_train,X_train_pred)
print('accuracy score of trained data:',score)

fore.fit(X_test,y_test)
X_test_pred=fore.predict(X_test)
species=le.inverse_transform(X_test_pred)
score=accuracy_score(y_test,X_test_pred)
print('accuracy score of test data:',score)

accuracy score of trained data: 1.0
accuracy score of test data: 1.0

In [93]:
cls=svm.SVC(kernel='linear')

In [94]:
cls.fit(X_train,y_train)
X_train_pred=cls.predict(X_train)
score=accuracy_score(y_train,X_train_pred)
print('accuracy score of trained data:',score)

cls.fit(X_test,y_test)
X_test_pred=cls.predict(X_test)
species=le.inverse_transform(X_test_pred)
score=accuracy_score(y_test,X_test_pred)
print('accuracy score of test data:',score)

accuracy score of trained data: 1.0
accuracy score of test data: 1.0

In [98]:
input_data=(96.84,0,2,7,5,2,0,0,0,4,0,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0)
input_data_as_np=np.asarray(input_data)
input_data_reshaped=input_data_as_np.reshape(1,-1)
prediction=tree.predict(input_data_reshaped)
prediction

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([44])

In [99]:
if prediction in species:
    X = 'The species is {}'
    disease_name = species[pred]
    print(X.format(disease_name))
else:
    print("Prediction not found in the mapping.")

Prediction not found in the mapping.