In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_csv('telecom_churn.csv')
df

,Churn,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
0,0,128,1,1,2.70,1,265.1,110,89.0,9.87,10.0
1,0,107,1,1,3.70,1,161.6,123,82.0,9.78,13.7
2,0,137,1,0,0.00,0,243.4,114,52.0,6.06,12.2
3,0,84,0,0,0.00,2,299.4,71,57.0,3.10,6.6
4,0,75,0,0,0.00,3,166.7,113,41.0,7.42,10.1
...,...,...,...,...,...,...,...,...,...,...,...
3328,0,192,1,1,2.67,2,156.2,77,71.7,10.78,9.9
3329,0,68,1,0,0.34,3,231.1,57,56.4,7.67,9.6
3330,0,28,1,0,0.00,2,180.8,109,56.0,14.44,14.1
3331,0,184,0,0,0.00,2,213.8,105,50.0,7.98,5.0
3332,0,74,1,1,3.70,0,234.4,113,100.0,13.30,13.7

In [3]:
df.head()

,Churn,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
0,0,128,1,1,2.7,1,265.1,110,89.0,9.87,10.0
1,0,107,1,1,3.7,1,161.6,123,82.0,9.78,13.7
2,0,137,1,0,0.0,0,243.4,114,52.0,6.06,12.2
3,0,84,0,0,0.0,2,299.4,71,57.0,3.10,6.6
4,0,75,0,0,0.0,3,166.7,113,41.0,7.42,10.1

In [4]:
df.tail()

,Churn,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
3328,0,192,1,1,2.67,2,156.2,77,71.7,10.78,9.9
3329,0,68,1,0,0.34,3,231.1,57,56.4,7.67,9.6
3330,0,28,1,0,0.00,2,180.8,109,56.0,14.44,14.1
3331,0,184,0,0,0.00,2,213.8,105,50.0,7.98,5.0
3332,0,74,1,1,3.70,0,234.4,113,100.0,13.30,13.7

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Churn            3333 non-null   int64
 1   AccountWeeks     3333 non-null   int64
 2   ContractRenewal  3333 non-null   int64
 3   DataPlan         3333 non-null   int64
 4   DataUsage        3333 non-null   float64
 5   CustServCalls    3333 non-null   int64
 6   DayMins          3333 non-null   float64
 7   DayCalls         3333 non-null   int64
 8   MonthlyCharge    3333 non-null   float64
 9   OverageFee       3333 non-null   float64
 10  RoamMins         3333 non-null   float64
dtypes: float64(5), int64(6)
memory usage: 286.6 KB

In [6]:
df.isnull().sum()

Churn              0
AccountWeeks       0
ContractRenewal    0
DataPlan           0
DataUsage          0
CustServCalls      0
DayMins            0
DayCalls           0
MonthlyCharge      0
OverageFee         0
RoamMins           0
dtype: int64

In [7]:
df.describe()

,Churn,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,0.144914,101.064806,0.903090,0.276628,0.816475,1.562856,179.775098,100.435644,56.305161,10.051488,10.237294
std,0.352067,39.822106,0.295879,0.447398,1.272668,1.315491,54.467389,20.069084,16.426032,2.535712,2.791840
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,0.000000,0.000000
25%,0.000000,74.000000,1.000000,0.000000,0.000000,1.000000,143.700000,87.000000,45.000000,8.330000,8.500000
50%,0.000000,101.000000,1.000000,0.000000,0.000000,1.000000,179.400000,101.000000,53.500000,10.070000,10.300000
75%,0.000000,127.000000,1.000000,1.000000,1.780000,2.000000,216.400000,114.000000,66.200000,11.770000,12.100000
max,1.000000,243.000000,1.000000,1.000000,5.400000,9.000000,350.800000,165.000000,111.300000,18.190000,20.000000

In [8]:
y=df['ContractRenewal']
y

0       1
1       1
2       1
3       0
4       0
       ..
3328    1
3329    1
3330    1
3331    0
3332    1
Name: ContractRenewal, Length: 3333, dtype: int64

In [9]:
x=df.drop(['ContractRenewal'],axis=1)
x

,Churn,AccountWeeks,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
0,0,128,1,2.70,1,265.1,110,89.0,9.87,10.0
1,0,107,1,3.70,1,161.6,123,82.0,9.78,13.7
2,0,137,0,0.00,0,243.4,114,52.0,6.06,12.2
3,0,84,0,0.00,2,299.4,71,57.0,3.10,6.6
4,0,75,0,0.00,3,166.7,113,41.0,7.42,10.1
...,...,...,...,...,...,...,...,...,...,...
3328,0,192,1,2.67,2,156.2,77,71.7,10.78,9.9
3329,0,68,0,0.34,3,231.1,57,56.4,7.67,9.6
3330,0,28,0,0.00,2,180.8,109,56.0,14.44,14.1
3331,0,184,0,0.00,2,213.8,105,50.0,7.98,5.0
3332,0,74,1,3.70,0,234.4,113,100.0,13.30,13.7

In [10]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [11]:
x.shape,X_train,X_test

((3333, 10),
       Churn  AccountWeeks  DataPlan  DataUsage  CustServCalls  DayMins  \
 427       0            67         1       2.59              1    104.9
 1656      0           101         1       2.89              1    105.9
 1042      0            91         1       2.67              0     93.5
 1867      0           142         1       2.65              0    191.1
 346       0            81         1       3.29              1    161.6
 ...     ...           ...       ...        ...            ...      ...
 835       0            27         0       0.00              1     72.7
 3264      0            89         1       1.59              0     97.8
 1653      1            93         0       0.00              1    131.4
 2607      0            91         0       0.00              3    189.3
 2732      1           130         0       0.00              5    216.2

       DayCalls  MonthlyCharge  OverageFee  RoamMins
 427         65           62.9       10.82       9.6
 1656       132           66.9       11.59      10.7
 1042       112           58.7        9.17       9.9
 1867       109           72.5        7.48       9.8
 346        117           70.9        6.15      12.2
 ...        ...            ...         ...       ...
 835         75           31.0       10.43       9.9
 3264        98           50.9       10.36       5.9
 1653        78           42.0       10.99      11.1
 2607       100           53.0       11.97       9.9
 2732       106           68.0       18.19      16.9

 [2499 rows x 10 columns],
       Churn  AccountWeeks  DataPlan  DataUsage  CustServCalls  DayMins  \
 405       0            92         0       0.00              0    264.3
 118       0           112         1       2.70              2    113.7
 710       0            69         0       0.29              3    195.3
 499       0            95         0       0.00              1    175.2
 2594      1           115         0       0.00              1    345.3
 ...     ...           ...       ...        ...            ...      ...
 3254      0            57         1       3.97              1    179.2
 3027      0           101         1       2.54              4    220.3
 1366      0            89         0       0.00              3     89.5
 457       0            54         0       0.16              2    159.8
 847       0            70         1       2.78              1    125.9

       DayCalls  MonthlyCharge  OverageFee  RoamMins
 405         91           59.0        8.05       9.3
 118        117           60.0        7.88      10.0
 710         70           54.9       10.84      12.5
 499         91           51.0       12.22       7.5
 2594        81           76.0       10.17      11.8
 ...        ...            ...         ...       ...
 3254       105           94.7       14.16      14.7
 3027        96           87.4       14.29       9.4
 1366        66           31.0        8.97      12.3
 457         99           51.6       13.20       9.7
 847        101           66.8        9.82      10.3

 [834 rows x 10 columns])

In [14]:
tree=DecisionTreeClassifier()

In [15]:
tree.fit(X_train,y_train)
X_train_pred=tree.predict(X_train)
score=accuracy_score(X_train_pred,y_train)
print('Accuracy score of trained data=',score)

tree.fit(X_test,y_test)
X_train_pred=tree.predict(X_test)
score=accuracy_score(X_test_pred,y_test)
print('Accuracy score of tested data=',score)

Accuracy score of trained data= 1.0
Accuracy score of tested data= 1.0

In [16]:
forest=RandomForestClassifier()

In [17]:
forest.fit(X_train,y_train)
X_train_pred=forest.predict(X_train)
score=accuracy_score(X_train_pred,y_train)
print('Accuracy score of trained data=',score)

forest.fit(X_test,y_test)
X_train_pred=forest.predict(X_test)
score=accuracy_score(X_test_pred,y_test)
print('Accuracy score of tested data=',score)

Accuracy score of trained data= 1.0
Accuracy score of tested data= 1.0

In [18]:
knn=KNeighborsClassifier()

In [19]:
knn.fit(X_train,y_train)
X_train_pred=knn.predict(X_train)
score=accuracy_score(X_train_pred,y_train)
print('Accuracy score of trained data=',score)

knn.fit(X_test,y_test)
X_train_pred=knn.predict(X_test)
score=accuracy_score(X_test_pred,y_test)
print('Accuracy score of tested data=',score)

Accuracy score of trained data= 0.9071628651460584
Accuracy score of tested data= 1.0

C:\Users\HP\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\HP\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [20]:
cls=svm.SVC(kernel='linear')

In [21]:
cls.fit(X_train,y_train)
X_train_pred=cls.predict(X_train)
score=accuracy_score(y_train,X_train_pred)
print('accuracy score of trained data:',score)

cls.fit(X_test,y_test)
X_test_pred=cls.predict(X_test)
score=accuracy_score(y_test,X_test_pred)
print('accuracy score of test data:',score)

accuracy score of trained data: 0.9059623849539816
accuracy score of test data: 0.894484412470024

In [42]:
input_data=(0,107,1,3.7,1,161.6,123,82,9.78,13.7)
input_data_as_np=np.asarray(input_data)
input_data_reshaped=input_data_as_np.reshape(1,-1)
prediction=tree.predict(input_data_reshaped)
prediction

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [43]:
if(prediction[0]==1):
    print("Contract Renewed")
else:
    print("Not Renewed")

Contract Renewed