In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm

In [47]:
df=pd.read_csv("train_2.csv")
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [48]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [49]:
df.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [50]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [52]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [55]:
df.value_counts(['Outlet_Type'])

Outlet_Type
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
dtype: int64

In [61]:
df.replace({'Outlet_Type':{'Supermarket Type1':0,'Grocery Store':1,'Supermarket Type3':2,'Supermarket Type2':3}},inplace=True)
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,0,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,3,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,0,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,1,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,0,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,0,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,0,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,0,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,3,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,0,765.6700

In [62]:
df['Outlet_Type'].unique()

array([0, 3, 1, 2], dtype=int64)

In [63]:
y=df['Item_Outlet_Sales']
y

0       3735.1380
1        443.4228
2       2097.2700
3        732.3800
4        994.7052
          ...
8518    2778.3834
8519     549.2850
8520    1193.1136
8521    1845.5976
8522     765.6700
Name: Item_Outlet_Sales, Length: 8523, dtype: float64

In [65]:
x=df.drop(['Item_Identifier','Item_Weight','Item_Type','Item_Fat_Content','Outlet_Identifier','Outlet_Size','Item_Outlet_Sales','Outlet_Location_Type'],axis=1)
x

      Item_Visibility  Item_MRP  Outlet_Establishment_Year  Outlet_Type
0            0.016047  249.8092                       1999            0
1            0.019278   48.2692                       2009            3
2            0.016760  141.6180                       1999            0
3            0.000000  182.0950                       1998            1
4            0.000000   53.8614                       1987            0
...               ...       ...                        ...          ...
8518         0.056783  214.5218                       1987            0
8519         0.046982  108.1570                       2002            0
8520         0.035186   85.1224                       2004            0
8521         0.145221  103.1332                       2009            3
8522         0.044878   75.4670                       1997            0

[8523 rows x 4 columns]

In [81]:
from sklearn.preprocessing import StandardScaler

In [82]:
scalar=StandardScaler()

In [84]:
scalar.fit(x)

StandardScaler()

In [85]:
data=scalar.transform(x)
data

array([[-0.97073217,  1.74745381,  0.13954076, -0.64392685],
       [-0.90811123, -1.48902325,  1.33410274,  2.22596432],
       [-0.95691733,  0.01004021,  0.13954076, -0.64392685],
       ...,
       [-0.59978449, -0.89720755,  0.73682175, -0.64392685],
       [ 1.53287976, -0.60797692,  1.33410274,  2.22596432],
       [-0.41193591, -1.05226104, -0.09937163, -0.64392685]])

In [86]:
x=data
x

array([[-0.97073217,  1.74745381,  0.13954076, -0.64392685],
       [-0.90811123, -1.48902325,  1.33410274,  2.22596432],
       [-0.95691733,  0.01004021,  0.13954076, -0.64392685],
       ...,
       [-0.59978449, -0.89720755,  0.73682175, -0.64392685],
       [ 1.53287976, -0.60797692,  1.33410274,  2.22596432],
       [-0.41193591, -1.05226104, -0.09937163, -0.64392685]])

In [87]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=1)

In [88]:
x.shape,X_train.shape,X_test.shape

((8523, 4), (7670, 4), (853, 4))

In [89]:
forest = RandomForestClassifier(n_estimators=100, max_depth=10)  # Adjust hyperparameters as needed
forest.fit(X_train, y_train.astype(int))

RandomForestClassifier(max_depth=10)

In [90]:
print("Unique values in y_train:", np.unique(y_train))
print("Unique values in y_test:", np.unique(y_test))
print("Unique values in X_train:", np.unique(X_train))
print("Unique values in X_test:", np.unique(X_test))

Unique values in y_train: [   33.29      33.9558    34.6216 ... 11445.102  12117.56   13086.9648]
Unique values in y_test: [  33.29     36.619    37.9506   45.9402   47.2718   50.6008   55.2614
   59.2562   73.238    75.2354   77.2328   82.5592   87.2198   88.5514
   90.5488   93.212    95.8752  101.8674  102.5332  103.199   105.8622
  107.8596  108.5254  117.1808  120.5098  122.5072  131.8284  139.818
  141.1496  143.8128  149.805   153.7998  158.4604  159.792   161.1236
  166.45    171.7764  173.108   175.7712  180.4318  187.0898  187.7556
  188.4214  191.7504  193.7478  198.4084  199.74    202.4032  207.7296
  211.7244  213.056   215.7192  218.3824  221.0456  223.7088  225.0404
  226.372   227.7036  237.6906  241.0196  241.6854  242.3512  247.0118
  253.004   254.3356  255.6672  263.6568  283.6308  291.6204  293.6178
  294.2836  295.6152  296.9468  303.6048  305.6022  307.5996  308.9312
  312.926   316.9208  317.5866  322.2472  330.2368  331.5684  335.5632
  336.8948  347.5476  352.874   354.2056  357.5346  358.2004  363.5268
  364.8584  367.5216  369.519   372.848   378.1744  379.506   383.5008
  387.4956  388.1614  397.4826  399.48    402.1432  406.138   410.1328
  415.4592  417.4566  423.4488  426.112   428.7752  437.4306  441.4254
  445.4202  447.4176  450.0808  452.744   458.0704  459.402   460.7336
  461.3994  467.3916  480.7076  482.0392  484.7024  489.363   490.0288
  490.6946  497.3526  498.0184  499.35    503.3448  508.6712  511.3344
  525.3162  527.3136  529.311   533.3058  534.6374  535.3032  535.969
  539.298   540.6296  549.285   552.614   563.9326  565.2642  567.2616
  568.5932  575.2512  579.246   588.5672  591.2304  592.562   593.2278
  596.5568  601.8832  604.5464  605.878   607.2096  609.207   611.2044
  612.536   619.194   622.523   623.1888  624.5204  625.852   631.8442
  635.1732  639.168   644.4944  651.1524  652.484   657.8104  661.8052
  663.1368  666.4658  667.7974  671.1264  677.1186  679.116   683.1108
  687.1056  690.4346  695.0952  700.4216  705.748   708.4112  711.0744
  716.4008  724.3904  736.3748  745.696   747.0276  755.0172  758.3462
  759.012   761.6752  767.0016  772.328   778.3202  785.644   788.973
  790.9704  792.302   796.2968  808.947   809.6128  822.263   825.592
  830.9184  834.9132  837.5764  846.8976  850.8924  856.8846  862.8768
  865.54    873.5296  874.8612  875.527   882.8508  886.8456  888.843
  897.4984  902.8248  905.488   913.4776  918.804   922.7988  938.778
  940.7754  945.436   950.7624  952.094   952.7598  958.752   962.7468
  978.726   984.7182  985.384   986.7156  990.7104 1018.674  1021.3372
 1029.9926 1033.3216 1041.3112 1043.9744 1050.6324 1057.9562 1061.951
 1065.28   1078.596  1091.2462 1095.241  1096.5726 1099.2358 1102.5648
 1104.5622 1105.228  1107.8912 1115.215  1118.544  1120.5414 1125.202
 1133.1916 1133.8574 1158.492  1162.4868 1170.4764 1174.4712 1182.4608
 1185.7898 1186.4556 1188.453  1192.4478 1201.769  1203.7664 1208.427
 1214.4192 1218.414  1223.0746 1225.072  1230.3984 1235.059  1245.046
 1249.0408 1258.362  1264.3542 1267.0174 1268.349  1280.9992 1281.665
 1282.3308 1286.3256 1288.9888 1290.3204 1294.3152 1298.31   1301.639
 1303.6364 1304.968  1312.9576 1320.9472 1324.942  1326.2736 1332.2658
 1332.9316 1341.587  1342.2528 1347.5792 1358.232  1364.89   1378.206
 1384.1982 1388.8588 1398.18   1404.1722 1406.1696 1416.8224 1431.47
 1442.1228 1442.7886 1444.1202 1446.1176 1454.1072 1459.4336 1470.0864
 1471.418  1480.0734 1488.7288 1491.392  1492.0578 1492.7236 1494.0552
 1518.024  1522.0188 1523.3504 1537.998  1539.9954 1540.6612 1543.3244
 1551.9798 1565.9616 1570.6222 1577.946  1583.9382 1587.2672 1589.2646
 1592.5936 1593.9252 1596.5884 1609.9044 1617.894  1619.2256 1641.197
 1641.8628 1644.526  1655.1788 1657.1762 1657.842  1659.1736 1659.8394
 1661.8368 1669.8264 1679.1476 1686.4714 1687.1372 1691.7978 1696.4584
 1697.79   1701.7848 1713.7692 1719.7614 1721.093  1725.7536 1731.08
 1737.738  1743.0644 1744.396  1747.725  1758.3778 1771.028  1779.6834
 1789.6704 1796.3284 1808.9786 1810.976  1845.5976 1887.543  1895.5326
 1904.188  1911.5118 1918.8356 1937.478  1948.1308 1957.452  1958.1178
 1970.768  1973.4312 1985.4156 1990.742  1997.4    2004.058  2005.3896
 2006.7212 2013.3792 2021.3688 2024.032  2036.6822 2037.348  2050.664
 2053.3272 2055.9904 2059.9852 2061.3168 2073.3012 2077.296  2093.941
 2097.27   2101.9306 2106.5912 2109.2544 2119.9072 2125.2336 2127.231
 2129.2284 2141.2128 2153.1972 2157.192  2162.5184 2180.495  2192.4794
 2210.456  2213.1192 2220.443  2221.1088 2223.1062 2239.7512 2241.0828
 2251.0698 2253.0672 2257.062  2258.3936 2277.036  2278.3676 2303.668
 2316.984  2320.9788 2324.9736 2330.3    2336.2922 2343.616  2348.9424
 2354.2688 2358.2636 2362.9242 2363.59   2380.9008 2388.8904 2390.222
 2404.2038 2406.867  2422.1804 2439.4912 2450.144  2463.46   2471.4496
 2482.1024 2488.7604 2490.092  2492.0894 2498.0816 2502.7422 2516.724
 2530.04   2535.3664 2536.698  2540.6928 2543.356  2546.685  2552.6772
 2556.672  2563.33   2570.6538 2572.6512 2577.9776 2600.6148 2603.278
 2619.2572 2621.9204 2631.2416 2649.884  2659.871  2666.529  2676.516
 2681.8424 2693.8268 2695.1584 2696.49   2705.1454 2716.464  2726.451
 2727.7826 2736.438  2749.754  2750.4198 2752.4172 2756.412  2759.0752
 2796.36   2812.3392 2816.334  2841.6344 2865.6032 2871.5954 2876.256
 2884.2456 2886.243  2889.572  2892.2352 2897.5616 2925.5252 2934.8464
 2946.165  2954.1546 2956.152  2966.139  2972.1312 2976.126  2982.784
 2985.4472 2988.1104 2992.771  3006.087  3010.7476 3020.0688 3034.0506
 3048.6982 3052.0272 3078.6592 3079.325  3089.9778 3101.2964 3103.9596
 3111.9492 3124.5994 3129.26   3142.576  3146.5708 3149.234  3171.8712
 3187.8504 3199.8348 3205.1612 3209.156  3215.814  3219.8088 3225.1352
 3235.788  3237.1196 3238.4512 3243.7776 3246.4408 3263.0858 3263.7516
 3271.7412 3277.0676 3279.065  3285.723  3289.052  3295.71   3307.6944
 3313.6866 3355.632  3364.9532 3375.606  3392.9168 3401.5722 3410.2276
 3415.554  3418.883  3422.212  3433.5306 3439.5228 3440.8544 3448.844
 3453.5046 3466.1548 3475.476  3486.1288 3516.7556 3520.0846 3523.4136
 3542.056  3558.0352 3560.6984 3568.688  3570.0196 3579.3408 3615.294
 3617.9572 3621.2862 3628.61   3629.9416 3630.6074 3649.2498 3678.545
 3690.5294 3691.1952 3700.5164 3704.5112 3705.177  3719.1588 3728.48
 3757.1094 3773.7544 3775.086  3779.0808 3795.06   3837.0054 3877.6192
 3894.93   3901.588  3914.904  3929.5516 3954.852  3956.8494 3961.51
 3962.8416 4011.445  4026.7584 4042.7376 4054.722  4064.0432 4073.3644
 4074.696  4086.0146 4101.328  4138.6128 4157.2552 4165.2448 4206.5244
 4262.4516 4291.7468 4294.41   4306.3944 4326.3684 4351.6688 4364.319
 4379.6324 4396.9432 4414.9198 4447.544  4448.2098 4454.202  4466.1864
 4500.808  4506.1344 4554.072  4566.7222 4570.0512 4579.3724 4595.3516
 4637.9628 4649.9472 4653.942  4655.9394 4660.6    4687.232  4693.89
 4727.18   4769.1254 4781.7756 4793.76   4807.076  4807.7418 4813.734
 4823.721  4828.3816 4844.3608 4860.34   4889.6352 4933.578  4942.8992
 4996.829  5033.448  5049.4272 5063.409  5069.4012 5084.0488 5106.686
 5126.66   5141.3076 5191.2426 5229.1932 5305.0944 5309.755  5331.7264
 5350.3688 5359.69   5424.9384 5443.5808 5452.902  5475.5392 5487.5236
 5492.85   5494.8474 5496.8448 5536.7928 5546.114  5559.43   5580.7356
 5681.2714 5688.5952 5697.9164 5715.2272 5752.512  5816.4288 5865.0322
 5872.356  5942.265  5946.9256 5954.2494 5954.9152 5956.9126 5978.2182
 6008.1792 6021.4952 6041.4692 6064.1064 6170.6344 6242.5408 6474.2392
 6775.1808 6881.043  7170.666  7201.2928 7334.4528 7580.133  7646.0472
 7968.2944 8217.3036 8323.8316 8474.3024 9678.0688]
Unique values in X_train: [-1.76168769 -1.75847595 -1.75205245 ...  4.94202913  5.03246068
  5.08304991]
Unique values in X_test: [-1.75099579 -1.74938991 -1.74296642 ...  4.12526196  4.14095069
  4.43488276]

In [91]:
X_train_pred=forest.predict(X_train)
score=accuracy_score(y_train,X_train_pred)
print('accuracy score of trained data:',score)

forest.fit(X_test,y_test.astype(int))
X_test_pred=forest.predict(X_test)
score=accuracy_score(y_test,X_test_pred)
print('accuracy score of test data:',score)

ValueError: Classification metrics can't handle a mix of continuous and multiclass targets