In [95]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import seaborn as sns

In [96]:
xbox=pd.read_csv('xbox.csv')
xbox

,GAME,RATIO,GAMERS,COMP %,TIME,RATING,ADDED,True_Achievement,Game_Score
0,Mass Effect Legendary Edition,1.87,"84,143",4.1,100-120 hours,4.8,06 Jan 22,5442,2915
1,The Elder Scrolls V: Skyrim Special Edition,1.97,"213,257",8.0,80-100 hours,4.7,15 Dec 20,3055,1550
2,Mass Effect 2,1.34,"221,178",9.6,50-60 hours,4.7,09 Nov 20,1819,1355
3,Stardew Valley,3.04,"51,530",1.0,150-200 hours,4.7,02 Dec 21,3036,1000
4,It Takes Two,1.68,"71,981",15.6,12-15 hours,4.7,03 Nov 21,1678,1000
...,...,...,...,...,...,...,...,...,...
450,Lethal League Blaze,3.91,"4,509",1.6,15-20 hours,3.6,29 Jul 21,3905,1000
451,The Evil Within (JP),1.61,388,12.1,NaN,3.8,16 Aug 21,2787,1735
452,Shadowrun Returns,-,0,0.0,NaN,NaN,20 Apr 22,1000,1000
453,Shadowrun: Hong Kong - Extended Edition,-,0,0.0,NaN,NaN,20 Apr 22,1000,1000
454,Shadowrun: Dragonfall - Director's Cut,-,0,0.0,NaN,NaN,20 Apr 22,1000,1000

In [97]:
xbox.head()

,GAME,RATIO,GAMERS,COMP %,TIME,RATING,ADDED,True_Achievement,Game_Score
0,Mass Effect Legendary Edition,1.87,"84,143",4.1,100-120 hours,4.8,06 Jan 22,5442,2915
1,The Elder Scrolls V: Skyrim Special Edition,1.97,"213,257",8.0,80-100 hours,4.7,15 Dec 20,3055,1550
2,Mass Effect 2,1.34,"221,178",9.6,50-60 hours,4.7,09 Nov 20,1819,1355
3,Stardew Valley,3.04,"51,530",1.0,150-200 hours,4.7,02 Dec 21,3036,1000
4,It Takes Two,1.68,"71,981",15.6,12-15 hours,4.7,03 Nov 21,1678,1000

In [98]:
xbox.tail()

,GAME,RATIO,GAMERS,COMP %,TIME,RATING,ADDED,True_Achievement,Game_Score
450,Lethal League Blaze,3.91,"4,509",1.6,15-20 hours,3.6,29 Jul 21,3905,1000
451,The Evil Within (JP),1.61,388,12.1,NaN,3.8,16 Aug 21,2787,1735
452,Shadowrun Returns,-,0,0.0,NaN,NaN,20 Apr 22,1000,1000
453,Shadowrun: Hong Kong - Extended Edition,-,0,0.0,NaN,NaN,20 Apr 22,1000,1000
454,Shadowrun: Dragonfall - Director's Cut,-,0,0.0,NaN,NaN,20 Apr 22,1000,1000

In [99]:
xbox.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME              455 non-null    object
 1   RATIO             455 non-null    object
 2   GAMERS            455 non-null    object
 3   COMP %            455 non-null    float64
 4   TIME              421 non-null    object
 5   RATING            452 non-null    float64
 6   ADDED             454 non-null    object
 7   True_Achievement  455 non-null    int64
 8   Game_Score        455 non-null    int64
dtypes: float64(2), int64(2), object(5)
memory usage: 32.1+ KB

In [100]:
xbox.shape

(455, 9)

In [101]:
xbox.isnull().sum()

GAME                 0
RATIO                0
GAMERS               0
COMP %               0
TIME                34
RATING               3
ADDED                1
True_Achievement     0
Game_Score           0
dtype: int64

In [102]:
xbox['RATING'].fillna(0,inplace=True)
xbox

,GAME,RATIO,GAMERS,COMP %,TIME,RATING,ADDED,True_Achievement,Game_Score
0,Mass Effect Legendary Edition,1.87,"84,143",4.1,100-120 hours,4.8,06 Jan 22,5442,2915
1,The Elder Scrolls V: Skyrim Special Edition,1.97,"213,257",8.0,80-100 hours,4.7,15 Dec 20,3055,1550
2,Mass Effect 2,1.34,"221,178",9.6,50-60 hours,4.7,09 Nov 20,1819,1355
3,Stardew Valley,3.04,"51,530",1.0,150-200 hours,4.7,02 Dec 21,3036,1000
4,It Takes Two,1.68,"71,981",15.6,12-15 hours,4.7,03 Nov 21,1678,1000
...,...,...,...,...,...,...,...,...,...
450,Lethal League Blaze,3.91,"4,509",1.6,15-20 hours,3.6,29 Jul 21,3905,1000
451,The Evil Within (JP),1.61,388,12.1,NaN,3.8,16 Aug 21,2787,1735
452,Shadowrun Returns,-,0,0.0,NaN,0.0,20 Apr 22,1000,1000
453,Shadowrun: Hong Kong - Extended Edition,-,0,0.0,NaN,0.0,20 Apr 22,1000,1000
454,Shadowrun: Dragonfall - Director's Cut,-,0,0.0,NaN,0.0,20 Apr 22,1000,1000

In [103]:
xbox.isnull().sum()

GAME                 0
RATIO                0
GAMERS               0
COMP %               0
TIME                34
RATING               0
ADDED                1
True_Achievement     0
Game_Score           0
dtype: int64

In [104]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [107]:
xbox['GAME1']=le.fit_transform(xbox['GAME'])
xbox

,GAME,RATIO,GAMERS,COMP %,TIME,RATING,ADDED,True_Achievement,Game_Score,GAME1
0,Mass Effect Legendary Edition,1.87,"84,143",4.1,100-120 hours,4.8,06 Jan 22,5442,2915,230
1,The Elder Scrolls V: Skyrim Special Edition,1.97,"213,257",8.0,80-100 hours,4.7,15 Dec 20,3055,1550,379
2,Mass Effect 2,1.34,"221,178",9.6,50-60 hours,4.7,09 Nov 20,1819,1355,228
3,Stardew Valley,3.04,"51,530",1.0,150-200 hours,4.7,02 Dec 21,3036,1000,350
4,It Takes Two,1.68,"71,981",15.6,12-15 hours,4.7,03 Nov 21,1678,1000,191
...,...,...,...,...,...,...,...,...,...,...
450,Lethal League Blaze,3.91,"4,509",1.6,15-20 hours,3.6,29 Jul 21,3905,1000,210
451,The Evil Within (JP),1.61,388,12.1,NaN,3.8,16 Aug 21,2787,1735,381
452,Shadowrun Returns,-,0,0.0,NaN,0.0,20 Apr 22,1000,1000,331
453,Shadowrun: Hong Kong - Extended Edition,-,0,0.0,NaN,0.0,20 Apr 22,1000,1000,333
454,Shadowrun: Dragonfall - Director's Cut,-,0,0.0,NaN,0.0,20 Apr 22,1000,1000,332

In [108]:
y=xbox['GAME1']
y

0      230
1      379
2      228
3      350
4      191
      ...
450    210
451    381
452    331
453    333
454    332
Name: GAME1, Length: 455, dtype: int32

In [109]:
x=xbox.drop(['TIME','ADDED','GAME','GAMERS','RATIO','GAME1',],axis=1)
x

     COMP %  RATING  True_Achievement  Game_Score
0       4.1     4.8              5442        2915
1       8.0     4.7              3055        1550
2       9.6     4.7              1819        1355
3       1.0     4.7              3036        1000
4      15.6     4.7              1678        1000
..      ...     ...               ...         ...
450     1.6     3.6              3905        1000
451    12.1     3.8              2787        1735
452     0.0     0.0              1000        1000
453     0.0     0.0              1000        1000
454     0.0     0.0              1000        1000

[455 rows x 4 columns]

In [111]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [112]:
x.shape,X_train.shape,X_test.shape

((455, 4), (364, 4), (91, 4))

In [124]:
X_test

     COMP %  RATING  True_Achievement  Game_Score
302     2.1     3.5              3599        1000
39      1.2     4.4              3188        1250
393     0.4     2.9              8923        1000
411     4.3     2.4              2967        1000
155     1.8     3.9              3121        1000
..      ...     ...               ...         ...
450     1.6     3.6              3905        1000
137     3.0     4.0              3190        1000
93     10.4     4.1              1506        1000
57      1.5     4.3              4144        1000
154     4.8     3.9              2335        1370

[91 rows x 4 columns]

In [113]:
tree=DecisionTreeClassifier()

In [114]:
tree.fit(X_train,y_train)
X_train_pred=tree.predict(X_train)
score=accuracy_score(y_train,X_train_pred)
print('accuracy score of trained data:',score)

tree.fit(X_test,y_test)
X_test_pred=tree.predict(X_test)
score=accuracy_score(y_test,X_test_pred)
print('accuracy score of test data:',score)

accuracy score of trained data: 0.9945054945054945
accuracy score of test data: 1.0

In [115]:
knn=KNeighborsClassifier()

In [116]:
knn.fit(X_train,y_train)
X_train_pred=knn.predict(X_train)
score=accuracy_score(y_train,X_train_pred)
print('accuracy score of trained data:',score)

knn.fit(X_test,y_test)
X_test_pred=knn.predict(X_test)
score=accuracy_score(y_test,X_test_pred)
print('accuracy score of test data:',score)

accuracy score of trained data: 0.19230769230769232
accuracy score of test data: 0.21978021978021978

C:\Users\HP\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\HP\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [117]:
fore=RandomForestClassifier(n_estimators=100)

In [122]:
tree.fit(X_train,y_train)
X_train_pred=tree.predict(X_train)
score=accuracy_score(y_train,X_train_pred)
print('accuracy score of trained data:',score)

tree.fit(X_test,y_test)
X_test_pred=tree.predict(X_test)
score=accuracy_score(y_test,X_test_pred)
print('accuracy score of test data:',score)

accuracy score of trained data: 0.9945054945054945
accuracy score of test data: 1.0

In [126]:
input_data=(2.1,3.5,3599,1000)
input_data_as_np=np.asarray(input_data)
reshaped=input_data_as_np.reshape(1,-1)
prediction=tree.predict(reshaped)
predicted_name=le.inverse_transform(prediction)
print('The game is ',predicted_name[0])

The game is  art of rally

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(