In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn import svm
from sklearn.model_selection import train_test_split
import seaborn as sns

In [3]:
stock=pd.read_csv('nifty_500.csv')
stock

,Company Name,Symbol,Industry,Series,Open,High,Low,Previous Close,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
0,3M India Ltd.,3MINDIA,Diversified,EQ,21950.00,21999.00,21126.05,21854.05,21575.00,-279.05,-1.28,4159,8.965357e+07,27800.00,17273.00,-10.18,8.22
1,Aarti Drugs Ltd.,AARTIDRUGS,Healthcare,EQ,400.50,401.80,394.10,403.85,400.00,-3.85,-0.95,31782,1.262731e+07,749.75,378.00,-42.92,-5.10
2,Aavas Financiers Ltd.,AAVAS,Financial Services,EQ,1997.10,2004.05,1894.50,2015.45,1943.15,-72.30,-3.59,150704,2.907728e+08,3340.00,1815.00,-25.69,-9.39
3,ABB India Ltd.,ABB,Capital Goods,EQ,2260.35,2311.50,2260.35,2300.90,2280.00,-20.90,-0.91,97053,2.210935e+08,2487.85,1618.05,27.25,-5.21
4,Abbott India Ltd.,ABBOTINDIA,Healthcare,EQ,18700.40,19200.00,18605.00,18760.40,19199.80,439.40,2.34,12396,2.346770e+08,23934.45,15514.00,11.61,5.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,Zensar Technolgies Ltd.,ZENSARTECH,Information Technology,EQ,273.15,273.55,268.40,272.10,270.00,-2.10,-0.77,186578,5.046748e+07,587.00,246.65,-12.61,-11.02
497,ZF Commercial Vehicle Control Systems India Ltd.,ZFCVINDIA,Automobile and Auto Components,EQ,7748.00,7900.00,7525.30,7716.60,7680.00,-36.60,-0.47,12790,9.884624e+07,8780.05,6793.30,-,1.43
498,Zomato Ltd.,ZOMATO,Consumer Services,EQ,54.15,56.70,52.55,53.85,56.00,2.15,3.99,112078641,6.193466e+09,169.00,50.05,-,-27.86
499,Zydus Lifesciences Ltd.,ZYDUSLIFE,Healthcare,EQ,356.90,364.05,354.30,357.00,364.00,7.00,1.96,862373,3.100145e+08,651.90,319.00,-,-5.64
500,Zydus Wellness Ltd.,ZYDUSWELL,Fast Moving Consumer Goods,EQ,1635.00,1635.00,1605.00,1636.85,1627.00,-9.85,-0.60,10803,1.749567e+07,2476.85,1430.00,-22.08,6.25

In [4]:
stock.head()

,Company Name,Symbol,Industry,Series,Open,High,Low,Previous Close,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
0,3M India Ltd.,3MINDIA,Diversified,EQ,21950.00,21999.00,21126.05,21854.05,21575.00,-279.05,-1.28,4159,8.965357e+07,27800.00,17273.00,-10.18,8.22
1,Aarti Drugs Ltd.,AARTIDRUGS,Healthcare,EQ,400.50,401.80,394.10,403.85,400.00,-3.85,-0.95,31782,1.262731e+07,749.75,378.00,-42.92,-5.10
2,Aavas Financiers Ltd.,AAVAS,Financial Services,EQ,1997.10,2004.05,1894.50,2015.45,1943.15,-72.30,-3.59,150704,2.907728e+08,3340.00,1815.00,-25.69,-9.39
3,ABB India Ltd.,ABB,Capital Goods,EQ,2260.35,2311.50,2260.35,2300.90,2280.00,-20.90,-0.91,97053,2.210935e+08,2487.85,1618.05,27.25,-5.21
4,Abbott India Ltd.,ABBOTINDIA,Healthcare,EQ,18700.40,19200.00,18605.00,18760.40,19199.80,439.40,2.34,12396,2.346770e+08,23934.45,15514.00,11.61,5.84

In [5]:
stock.tail()

,Company Name,Symbol,Industry,Series,Open,High,Low,Previous Close,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
496,Zensar Technolgies Ltd.,ZENSARTECH,Information Technology,EQ,273.15,273.55,268.40,272.10,270.0,-2.10,-0.77,186578,5.046748e+07,587.00,246.65,-12.61,-11.02
497,ZF Commercial Vehicle Control Systems India Ltd.,ZFCVINDIA,Automobile and Auto Components,EQ,7748.00,7900.00,7525.30,7716.60,7680.0,-36.60,-0.47,12790,9.884624e+07,8780.05,6793.30,-,1.43
498,Zomato Ltd.,ZOMATO,Consumer Services,EQ,54.15,56.70,52.55,53.85,56.0,2.15,3.99,112078641,6.193466e+09,169.00,50.05,-,-27.86
499,Zydus Lifesciences Ltd.,ZYDUSLIFE,Healthcare,EQ,356.90,364.05,354.30,357.00,364.0,7.00,1.96,862373,3.100145e+08,651.90,319.00,-,-5.64
500,Zydus Wellness Ltd.,ZYDUSWELL,Fast Moving Consumer Goods,EQ,1635.00,1635.00,1605.00,1636.85,1627.0,-9.85,-0.60,10803,1.749567e+07,2476.85,1430.00,-22.08,6.25

In [6]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Name               501 non-null    object
 1   Symbol                     501 non-null    object
 2   Industry                   501 non-null    object
 3   Series                     501 non-null    object
 4   Open                       501 non-null    float64
 5   High                       501 non-null    float64
 6   Low                        501 non-null    float64
 7   Previous Close             501 non-null    float64
 8   Last Traded Price          501 non-null    float64
 9   Change                     501 non-null    object
 10  Percentage Change          501 non-null    object
 11  Share Volume               501 non-null    int64
 12  Value (Indian Rupee)       501 non-null    float64
 13  52 Week High               501 non-null    float64
 14  52 Week Low                501 non-null    float64
 15  365 Day Percentage Change  501 non-null    object
 16  30 Day Percentage Change   501 non-null    object
dtypes: float64(8), int64(1), object(8)
memory usage: 66.7+ KB

In [7]:
stock.describe()

,Open,High,Low,Previous Close,Last Traded Price,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low
count,501.000000,501.000000,501.000000,501.000000,501.000000,5.010000e+02,5.010000e+02,501.000000,501.000000
mean,1525.904491,1553.804990,1504.042415,1528.061277,1536.925449,2.580350e+06,8.635146e+08,2182.632196,1281.628982
std,4466.627117,4576.377692,4435.492332,4477.209376,4532.004734,9.407021e+06,4.335973e+09,5728.930152,3850.529646
min,6.750000,6.950000,6.700000,6.850000,6.800000,1.507000e+03,2.587223e+06,13.100000,4.550000
25%,215.300000,221.550000,210.600000,217.200000,214.650000,7.740500e+04,4.502265e+07,328.700000,166.800000
50%,551.100000,569.100000,547.000000,554.750000,563.000000,3.296100e+05,1.533133e+08,818.000000,438.050000
75%,1404.500000,1421.250000,1396.850000,1411.700000,1410.000000,1.235612e+06,6.644570e+08,2096.750000,1128.800000
max,70300.000000,72500.000000,70300.000000,70800.900000,71900.000000,1.257883e+08,9.211987e+10,87550.000000,63000.000000

In [8]:
stock.isnull().sum()

Company Name                 0
Symbol                       0
Industry                     0
Series                       0
Open                         0
High                         0
Low                          0
Previous Close               0
Last Traded Price            0
Change                       0
Percentage Change            0
Share Volume                 0
Value (Indian Rupee)         0
52 Week High                 0
52 Week Low                  0
365 Day Percentage Change    0
30 Day Percentage Change     0
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder

In [15]:
le=LabelEncoder()

In [20]:
stock['Industry']=le.fit_transform(stock['Industry'])
stock

,Company Name,Symbol,Industry,Series,Open,High,Low,Previous Close,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
0,3M India Ltd.,3MINDIA,7,EQ,21950.00,21999.00,21126.05,21854.05,21575.00,-279.05,-1.28,4159,8.965357e+07,27800.00,17273.00,-10.18,8.22
1,Aarti Drugs Ltd.,AARTIDRUGS,11,EQ,400.50,401.80,394.10,403.85,400.00,-3.85,-0.95,31782,1.262731e+07,749.75,378.00,-42.92,-5.10
2,Aavas Financiers Ltd.,AAVAS,9,EQ,1997.10,2004.05,1894.50,2015.45,1943.15,-72.30,-3.59,150704,2.907728e+08,3340.00,1815.00,-25.69,-9.39
3,ABB India Ltd.,ABB,1,EQ,2260.35,2311.50,2260.35,2300.90,2280.00,-20.90,-0.91,97053,2.210935e+08,2487.85,1618.05,27.25,-5.21
4,Abbott India Ltd.,ABBOTINDIA,11,EQ,18700.40,19200.00,18605.00,18760.40,19199.80,439.40,2.34,12396,2.346770e+08,23934.45,15514.00,11.61,5.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,Zensar Technolgies Ltd.,ZENSARTECH,12,EQ,273.15,273.55,268.40,272.10,270.00,-2.10,-0.77,186578,5.046748e+07,587.00,246.65,-12.61,-11.02
497,ZF Commercial Vehicle Control Systems India Ltd.,ZFCVINDIA,0,EQ,7748.00,7900.00,7525.30,7716.60,7680.00,-36.60,-0.47,12790,9.884624e+07,8780.05,6793.30,-,1.43
498,Zomato Ltd.,ZOMATO,6,EQ,54.15,56.70,52.55,53.85,56.00,2.15,3.99,112078641,6.193466e+09,169.00,50.05,-,-27.86
499,Zydus Lifesciences Ltd.,ZYDUSLIFE,11,EQ,356.90,364.05,354.30,357.00,364.00,7.00,1.96,862373,3.100145e+08,651.90,319.00,-,-5.64
500,Zydus Wellness Ltd.,ZYDUSWELL,8,EQ,1635.00,1635.00,1605.00,1636.85,1627.00,-9.85,-0.60,10803,1.749567e+07,2476.85,1430.00,-22.08,6.25

In [21]:
stock['Symbol']=le.fit_transform(stock['Symbol'])
stock

,Company Name,Symbol,Industry,Series,Open,High,Low,Previous Close,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
0,3M India Ltd.,0,7,EQ,21950.00,21999.00,21126.05,21854.05,21575.00,-279.05,-1.28,4159,8.965357e+07,27800.00,17273.00,-10.18,8.22
1,Aarti Drugs Ltd.,1,11,EQ,400.50,401.80,394.10,403.85,400.00,-3.85,-0.95,31782,1.262731e+07,749.75,378.00,-42.92,-5.10
2,Aavas Financiers Ltd.,2,9,EQ,1997.10,2004.05,1894.50,2015.45,1943.15,-72.30,-3.59,150704,2.907728e+08,3340.00,1815.00,-25.69,-9.39
3,ABB India Ltd.,3,1,EQ,2260.35,2311.50,2260.35,2300.90,2280.00,-20.90,-0.91,97053,2.210935e+08,2487.85,1618.05,27.25,-5.21
4,Abbott India Ltd.,4,11,EQ,18700.40,19200.00,18605.00,18760.40,19199.80,439.40,2.34,12396,2.346770e+08,23934.45,15514.00,11.61,5.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,Zensar Technolgies Ltd.,496,12,EQ,273.15,273.55,268.40,272.10,270.00,-2.10,-0.77,186578,5.046748e+07,587.00,246.65,-12.61,-11.02
497,ZF Commercial Vehicle Control Systems India Ltd.,497,0,EQ,7748.00,7900.00,7525.30,7716.60,7680.00,-36.60,-0.47,12790,9.884624e+07,8780.05,6793.30,-,1.43
498,Zomato Ltd.,498,6,EQ,54.15,56.70,52.55,53.85,56.00,2.15,3.99,112078641,6.193466e+09,169.00,50.05,-,-27.86
499,Zydus Lifesciences Ltd.,499,11,EQ,356.90,364.05,354.30,357.00,364.00,7.00,1.96,862373,3.100145e+08,651.90,319.00,-,-5.64
500,Zydus Wellness Ltd.,500,8,EQ,1635.00,1635.00,1605.00,1636.85,1627.00,-9.85,-0.60,10803,1.749567e+07,2476.85,1430.00,-22.08,6.25

In [22]:
stock['Company Name']=le.fit_transform(stock['Company Name'])
stock

,Company Name,Symbol,Industry,Series,Open,High,Low,Previous Close,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
0,0,0,7,EQ,21950.00,21999.00,21126.05,21854.05,21575.00,-279.05,-1.28,4159,8.965357e+07,27800.00,17273.00,-10.18,8.22
1,6,1,11,EQ,400.50,401.80,394.10,403.85,400.00,-3.85,-0.95,31782,1.262731e+07,749.75,378.00,-42.92,-5.10
2,7,2,9,EQ,1997.10,2004.05,1894.50,2015.45,1943.15,-72.30,-3.59,150704,2.907728e+08,3340.00,1815.00,-25.69,-9.39
3,1,3,1,EQ,2260.35,2311.50,2260.35,2300.90,2280.00,-20.90,-0.91,97053,2.210935e+08,2487.85,1618.05,27.25,-5.21
4,8,4,11,EQ,18700.40,19200.00,18605.00,18760.40,19199.80,439.40,2.34,12396,2.346770e+08,23934.45,15514.00,11.61,5.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,496,496,12,EQ,273.15,273.55,268.40,272.10,270.00,-2.10,-0.77,186578,5.046748e+07,587.00,246.65,-12.61,-11.02
497,494,497,0,EQ,7748.00,7900.00,7525.30,7716.60,7680.00,-36.60,-0.47,12790,9.884624e+07,8780.05,6793.30,-,1.43
498,497,498,6,EQ,54.15,56.70,52.55,53.85,56.00,2.15,3.99,112078641,6.193466e+09,169.00,50.05,-,-27.86
499,498,499,11,EQ,356.90,364.05,354.30,357.00,364.00,7.00,1.96,862373,3.100145e+08,651.90,319.00,-,-5.64
500,499,500,8,EQ,1635.00,1635.00,1605.00,1636.85,1627.00,-9.85,-0.60,10803,1.749567e+07,2476.85,1430.00,-22.08,6.25

In [23]:
stock['Series']=le.fit_transform(stock['Series'])
stock

,Company Name,Symbol,Industry,Series,Open,High,Low,Previous Close,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
0,0,0,7,1,21950.00,21999.00,21126.05,21854.05,21575.00,-279.05,-1.28,4159,8.965357e+07,27800.00,17273.00,-10.18,8.22
1,6,1,11,1,400.50,401.80,394.10,403.85,400.00,-3.85,-0.95,31782,1.262731e+07,749.75,378.00,-42.92,-5.10
2,7,2,9,1,1997.10,2004.05,1894.50,2015.45,1943.15,-72.30,-3.59,150704,2.907728e+08,3340.00,1815.00,-25.69,-9.39
3,1,3,1,1,2260.35,2311.50,2260.35,2300.90,2280.00,-20.90,-0.91,97053,2.210935e+08,2487.85,1618.05,27.25,-5.21
4,8,4,11,1,18700.40,19200.00,18605.00,18760.40,19199.80,439.40,2.34,12396,2.346770e+08,23934.45,15514.00,11.61,5.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,496,496,12,1,273.15,273.55,268.40,272.10,270.00,-2.10,-0.77,186578,5.046748e+07,587.00,246.65,-12.61,-11.02
497,494,497,0,1,7748.00,7900.00,7525.30,7716.60,7680.00,-36.60,-0.47,12790,9.884624e+07,8780.05,6793.30,-,1.43
498,497,498,6,1,54.15,56.70,52.55,53.85,56.00,2.15,3.99,112078641,6.193466e+09,169.00,50.05,-,-27.86
499,498,499,11,1,356.90,364.05,354.30,357.00,364.00,7.00,1.96,862373,3.100145e+08,651.90,319.00,-,-5.64
500,499,500,8,1,1635.00,1635.00,1605.00,1636.85,1627.00,-9.85,-0.60,10803,1.749567e+07,2476.85,1430.00,-22.08,6.25

In [ ]:
stock['Series']=le.fit_transform(stock['Series'])
stock

In [33]:
stock['Change']=le.fit_transform(stock['Change'])
stock

,Company Name,Symbol,Industry,Series,Open,High,Low,Previous Close,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
0,0,0,7,1,21950.00,21999.00,21126.05,21854.05,21575.00,80,-1.28,4159,8.965357e+07,27800.00,17273.00,-10.18,8.22
1,6,1,11,1,400.50,401.80,394.10,403.85,400.00,88,-0.95,31782,1.262731e+07,749.75,378.00,-42.92,-5.10
2,7,2,9,1,1997.10,2004.05,1894.50,2015.45,1943.15,140,-3.59,150704,2.907728e+08,3340.00,1815.00,-25.69,-9.39
3,1,3,1,1,2260.35,2311.50,2260.35,2300.90,2280.00,73,-0.91,97053,2.210935e+08,2487.85,1618.05,27.25,-5.21
4,8,4,11,1,18700.40,19200.00,18605.00,18760.40,19199.80,312,2.34,12396,2.346770e+08,23934.45,15514.00,11.61,5.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,496,496,12,1,273.15,273.55,268.40,272.10,270.00,63,-0.77,186578,5.046748e+07,587.00,246.65,-12.61,-11.02
497,494,497,0,1,7748.00,7900.00,7525.30,7716.60,7680.00,97,-0.47,12790,9.884624e+07,8780.05,6793.30,-,1.43
498,497,498,6,1,54.15,56.70,52.55,53.85,56.00,239,3.99,112078641,6.193466e+09,169.00,50.05,-,-27.86
499,498,499,11,1,356.90,364.05,354.30,357.00,364.00,343,1.96,862373,3.100145e+08,651.90,319.00,-,-5.64
500,499,500,8,1,1635.00,1635.00,1605.00,1636.85,1627.00,156,-0.60,10803,1.749567e+07,2476.85,1430.00,-22.08,6.25

In [34]:
stock['Percentage Change']=le.fit_transform(stock['Percentage Change'])
stock

,Company Name,Symbol,Industry,Series,Open,High,Low,Previous Close,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
0,0,0,7,1,21950.00,21999.00,21126.05,21854.05,21575.00,80,74,4159,8.965357e+07,27800.00,17273.00,-10.18,8.22
1,6,1,11,1,400.50,401.80,394.10,403.85,400.00,88,56,31782,1.262731e+07,749.75,378.00,-42.92,-5.10
2,7,2,9,1,1997.10,2004.05,1894.50,2015.45,1943.15,140,141,150704,2.907728e+08,3340.00,1815.00,-25.69,-9.39
3,1,3,1,1,2260.35,2311.50,2260.35,2300.90,2280.00,73,54,97053,2.210935e+08,2487.85,1618.05,27.25,-5.21
4,8,4,11,1,18700.40,19200.00,18605.00,18760.40,19199.80,312,288,12396,2.346770e+08,23934.45,15514.00,11.61,5.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,496,496,12,1,273.15,273.55,268.40,272.10,270.00,63,46,186578,5.046748e+07,587.00,246.65,-12.61,-11.02
497,494,497,0,1,7748.00,7900.00,7525.30,7716.60,7680.00,97,27,12790,9.884624e+07,8780.05,6793.30,-,1.43
498,497,498,6,1,54.15,56.70,52.55,53.85,56.00,239,337,112078641,6.193466e+09,169.00,50.05,-,-27.86
499,498,499,11,1,356.90,364.05,354.30,357.00,364.00,343,268,862373,3.100145e+08,651.90,319.00,-,-5.64
500,499,500,8,1,1635.00,1635.00,1605.00,1636.85,1627.00,156,36,10803,1.749567e+07,2476.85,1430.00,-22.08,6.25

In [35]:
stock['365 Day Percentage Change']=le.fit_transform(stock['365 Day Percentage Change'])
stock

,Company Name,Symbol,Industry,Series,Open,High,Low,Previous Close,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
0,0,0,7,1,21950.00,21999.00,21126.05,21854.05,21575.00,80,74,4159,8.965357e+07,27800.00,17273.00,13,8.22
1,6,1,11,1,400.50,401.80,394.10,403.85,400.00,88,56,31782,1.262731e+07,749.75,378.00,215,-5.10
2,7,2,9,1,1997.10,2004.05,1894.50,2015.45,1943.15,140,141,150704,2.907728e+08,3340.00,1815.00,125,-9.39
3,1,3,1,1,2260.35,2311.50,2260.35,2300.90,2280.00,73,54,97053,2.210935e+08,2487.85,1618.05,354,-5.21
4,8,4,11,1,18700.40,19200.00,18605.00,18760.40,19199.80,312,288,12396,2.346770e+08,23934.45,15514.00,309,5.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,496,496,12,1,273.15,273.55,268.40,272.10,270.00,63,46,186578,5.046748e+07,587.00,246.65,35,-11.02
497,494,497,0,1,7748.00,7900.00,7525.30,7716.60,7680.00,97,27,12790,9.884624e+07,8780.05,6793.30,0,1.43
498,497,498,6,1,54.15,56.70,52.55,53.85,56.00,239,337,112078641,6.193466e+09,169.00,50.05,0,-27.86
499,498,499,11,1,356.90,364.05,354.30,357.00,364.00,343,268,862373,3.100145e+08,651.90,319.00,0,-5.64
500,499,500,8,1,1635.00,1635.00,1605.00,1636.85,1627.00,156,36,10803,1.749567e+07,2476.85,1430.00,106,6.25

In [36]:
stock['30 Day Percentage Change']=le.fit_transform(stock['30 Day Percentage Change'])
stock

,Company Name,Symbol,Industry,Series,Open,High,Low,Previous Close,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
0,0,0,7,1,21950.00,21999.00,21126.05,21854.05,21575.00,80,74,4159,8.965357e+07,27800.00,17273.00,13,450
1,6,1,11,1,400.50,401.80,394.10,403.85,400.00,88,56,31782,1.262731e+07,749.75,378.00,215,258
2,7,2,9,1,1997.10,2004.05,1894.50,2015.45,1943.15,140,141,150704,2.907728e+08,3340.00,1815.00,125,361
3,1,3,1,1,2260.35,2311.50,2260.35,2300.90,2280.00,73,54,97053,2.210935e+08,2487.85,1618.05,354,260
4,8,4,11,1,18700.40,19200.00,18605.00,18760.40,19199.80,312,288,12396,2.346770e+08,23934.45,15514.00,309,439
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,496,496,12,1,273.15,273.55,268.40,272.10,270.00,63,46,186578,5.046748e+07,587.00,246.65,35,64
497,494,497,0,1,7748.00,7900.00,7525.30,7716.60,7680.00,97,27,12790,9.884624e+07,8780.05,6793.30,0,393
498,497,498,6,1,54.15,56.70,52.55,53.85,56.00,239,337,112078641,6.193466e+09,169.00,50.05,0,196
499,498,499,11,1,356.90,364.05,354.30,357.00,364.00,343,268,862373,3.100145e+08,651.90,319.00,0,270
500,499,500,8,1,1635.00,1635.00,1605.00,1636.85,1627.00,156,36,10803,1.749567e+07,2476.85,1430.00,106,442

In [37]:
x=stock.drop(['Previous Close'],axis=1)
x

,Company Name,Symbol,Industry,Series,Open,High,Low,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
0,0,0,7,1,21950.00,21999.00,21126.05,21575.00,80,74,4159,8.965357e+07,27800.00,17273.00,13,450
1,6,1,11,1,400.50,401.80,394.10,400.00,88,56,31782,1.262731e+07,749.75,378.00,215,258
2,7,2,9,1,1997.10,2004.05,1894.50,1943.15,140,141,150704,2.907728e+08,3340.00,1815.00,125,361
3,1,3,1,1,2260.35,2311.50,2260.35,2280.00,73,54,97053,2.210935e+08,2487.85,1618.05,354,260
4,8,4,11,1,18700.40,19200.00,18605.00,19199.80,312,288,12396,2.346770e+08,23934.45,15514.00,309,439
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,496,496,12,1,273.15,273.55,268.40,270.00,63,46,186578,5.046748e+07,587.00,246.65,35,64
497,494,497,0,1,7748.00,7900.00,7525.30,7680.00,97,27,12790,9.884624e+07,8780.05,6793.30,0,393
498,497,498,6,1,54.15,56.70,52.55,56.00,239,337,112078641,6.193466e+09,169.00,50.05,0,196
499,498,499,11,1,356.90,364.05,354.30,364.00,343,268,862373,3.100145e+08,651.90,319.00,0,270
500,499,500,8,1,1635.00,1635.00,1605.00,1627.00,156,36,10803,1.749567e+07,2476.85,1430.00,106,442

In [38]:
y=stock['Previous Close']
y

0      21854.05
1        403.85
2       2015.45
3       2300.90
4      18760.40
         ...
496      272.10
497     7716.60
498       53.85
499      357.00
500     1636.85
Name: Previous Close, Length: 501, dtype: float64

In [39]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=1)

In [40]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Name               501 non-null    int32
 1   Symbol                     501 non-null    int32
 2   Industry                   501 non-null    int32
 3   Series                     501 non-null    int32
 4   Open                       501 non-null    float64
 5   High                       501 non-null    float64
 6   Low                        501 non-null    float64
 7   Last Traded Price          501 non-null    float64
 8   Change                     501 non-null    int32
 9   Percentage Change          501 non-null    int32
 10  Share Volume               501 non-null    int64
 11  Value (Indian Rupee)       501 non-null    float64
 12  52 Week High               501 non-null    float64
 13  52 Week Low                501 non-null    float64
 14  365 Day Percentage Change  501 non-null    int32
 15  30 Day Percentage Change   501 non-null    int32
dtypes: float64(7), int32(8), int64(1)
memory usage: 47.1 KB

In [41]:
li=LinearRegression()

In [42]:
li.fit(X_train,y_train)
X_train_pred=li.predict(X_train)
score=metrics.r2_score(y_train,X_train_pred)
print('accuracy score of trained data:',score)

li.fit(X_test,y_test)
X_test_pred=li.predict(X_test)
score=metrics.r2_score(y_test,X_test_pred)
print('accuracy score of test data:',score)

accuracy score of trained data: 0.9999883318269013
accuracy score of test data: 0.9999995508081135

In [43]:
tree=DecisionTreeRegressor()

In [44]:
tree.fit(X_train,y_train)
X_train_pred=tree.predict(X_train)
score=metrics.r2_score(y_train,X_train_pred)
print('accuracy score of trained data:',score)

tree.fit(X_test,y_test)
X_test_pred=tree.predict(X_test)
score=metrics.r2_score(y_test,X_test_pred)
print('accuracy score of test data:',score)

accuracy score of trained data: 1.0
accuracy score of test data: 1.0

In [45]:
fore=RandomForestRegressor()

In [46]:
fore.fit(X_train,y_train)
X_train_pred=fore.predict(X_train)
score=metrics.r2_score(y_train,X_train_pred)
print('accuracy score of trained data:',score)

fore.fit(X_test,y_test)
X_test_pred=fore.predict(X_test)
score=metrics.r2_score(y_test,X_test_pred)
print('accuracy score of test data:',score)

accuracy score of trained data: 0.9917250933195317
accuracy score of test data: 0.8711639110426928

In [52]:
input_data=(0,0,7,1,21950.00,21999.00,21126.05,21575.00,80,74,4159,8.965357e+07,27800.00,17273.00,13,450)
input_data_as_np=np.asarray(input_data)
reshaped=input_data_as_np.reshape(1,-1)
prediction=li.predict(reshaped)
prediction

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([21882.67266813])

In [54]:
print('The price is ',prediction[0])

The price is  21882.672668125317